.App {
  text-align: center;
  justify-content: center;
}
.main {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.screen {
  width: 440px;
  height: 70px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: right;
  border-radius: 5px;
}
.screen > h1 {
  margin-left: 10px;
  margin-right: 10px;
}
.keyboard {
  width: 450px;
  height: 350px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  border: 1px solid black;
  width: 110px;
  font-size: 20px;
  background-color: aliceblue;
}
button:hover {
  background-color: white;
  cursor: pointer;
}
.number {
  background-color: beige;
}
